.watch-container {
  margin: 2rem;
}

.watch {
  font-size: 6rem;
}

.buttons-container {
  margin: 2rem;
}

.button {
  padding: 0.8rem;
  margin: 0 1rem;
  min-width: 6rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
}

.start {
  background-color: greenyellow;
}

.stop {
  background-color: red;
}

.reset {
  background-color: blue;
}


